# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Project Specific
*.csv
uploaded_debug.csv

# Environment variables
.env
.env.local
.env.production
.env.*.local
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.production

# Vercel
.vercel

# Render
.render
